<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="Pages/itinerary/itinerary.html" />
			</files>
		</defaultDocument>

		<directoryBrowse enabled="false" />
		<staticContent>
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".mjs"  mimeType="text/javascript" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<mimeMap fileExtension=".map"  mimeType="application/json" />
		</staticContent>

		<httpErrors existingResponse="PassThrough" />
	</system.webServer>
</configuration>
