:host{ display:block; }

header{
  position: sticky; 
  top:0;
  background:#FCFAF7; 
  border-bottom:1px solid #ddd; 
  z-index:10;
}

.bar{
  max-width:1100px;
  margin:0 auto;
  padding:12px 16px;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:20px;
}

.logo {
  display:inline-block;
  width:140px;
  height:50px;
  background:url("../../Logo_Reseau_Polytech.svg") no-repeat center / contain;
  margin-right:auto;         
}

nav {
  display:flex;
  gap:32px;
  justify-content:center;
  flex:1;                
}

nav a {
  text-decoration:none;
  color:#555;
  font-weight:600;
  padding:6px 8px;
  border-radius:8px;
}

nav a:hover {
  background:#eee;
}
